<div class="container mt-4 mb-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="master-heading">Candidate</h2>
    <button class="btn btn-primary" (click)="openAddCandidateModal()">Add Candidate</button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover mainTable">
        <thead class="table-headbg">
          <tr>
            <th class="w-5 text-center">Sr No</th>
            <th class="w-20">Candidate Name</th>
            <th class="w-25">Email</th>
            <th class="w-15 text-center">Mobile Number</th>
            <th class="w-15 text-center">Role</th>
            <th class="w-10 text-center">Status</th>
            <th class="w-10 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for( candidate of candiateList(); track $index){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td class="text-start">{{ candidate.fullName }}</td>
            <td class="text-center">{{ candidate.email }}</td>
            <td class="text-center">{{ candidate.mobileNumber }}</td>
            <td class="text-center">{{ candidate.role }}</td>
            <!-- <td>{{ candidate.createdAt | date : 'dd-MM-yy' }}</td>
          <td>{{ candidate.updatedAt | date : 'dd-MM-yy' }}</td> -->
            @if(candidate.isActive){
            <td><span class="isActive">Active</span></td>
            }@else {
            <td><span class="inactive">Inactive</span></td>
            }

            <td class="text-center">
              <button class="btn btn-sm btn-warning me-2" data-bs-toggle="modal" data-bs-target="#candidateModal"
                (click)="onEditCandidate(candidate)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="openDeleteConfirm(candidate.candidateId)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>

          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Modal Code -->

<app-modalcomponent>
  <div modal-title>{{ editMode() ? 'Edit Candidate' : 'Add Candidate' }}</div>
  <div modal-body>
    <form [formGroup]="candidateForm">
      <div class="row">
        <div class="col-md-12">
          <label for="candidateName" class="form-label">Candidate Name</label>
          <input type="text" formControlName="fullName" class="form-control" id="candidateName"
            placeholder="Enter Candidate name" />
        </div>
        <div class="col-md-12 mt-3">
          <label for="Email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email"
            placeholder="Enter Candidate name" />
        </div>
        <div class="col-md-12 mt-3">
          <label for="mobileNumber" class="form-label">Mobile Number</label>
          <input type="text" formControlName="mobileNumber" class="form-control" id="mobileNumber"
            placeholder="Enter Mobile Number" />
        </div>
        <div class="col-md-12 mt-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" formControlName="password" class="form-control" id="password"
            placeholder="Enter Password" />
        </div>

        <div class="role-row">
          <div class="col-md-6 mt-3">
            <label for="role" class="form-label">Role</label>
            <select formControlName="role" class="form-select" id="role">
              <option value="" disabled selected>Please select role</option>
              <option value="admin">Superadmin</option>
              <option value="candidate">Candidate</option>
            </select>
          </div>

          <div class="col-md-6 ">
            <div class="form-check align-self-end mb-2">
              <input type="checkbox" formControlName="isActive" class="form-check-input" id="isActive" />
              <label class="form-check-label" for="isActive">Is Active</label>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-3">
          <label for="createdAtDate" class="form-label">CreatedAt Date</label>
          <input type="date" formControlName="createdAtDate" class="form-control" id="createdAtDate" />
        </div>
        <div class="col-md-6 mt-3">
          <label for="updatedAtDate" class="form-label">Updated Date</label>
          <input type="date" formControlName="updatedAtDate" class="form-control" id="updatedAt" />
        </div>
      </div>
    </form>
  </div>

  <div modal-footer>
    <button type="button" class="btn btn-secondary" (click)="onModalClose()">Close</button>
    <button type="button" class="btn btn-primary ms-md-3 d-inline-block" [disabled]="candidateForm.invalid"
      (click)="onSaveCandidate()">
      {{ editMode() ? 'Update Candidate' : 'Save Candidate' }}
    </button>
  </div>
</app-modalcomponent>