.layout-container {
  display: flex;
  height: calc(100vh - 60px); 
}

.sidebar {
  width: 250px;
  background-color: #495057; 
  position: fixed;
  top: 60px;
  left: -250px;
  height: calc(100vh - 60px);
  transition: left 0.3s ease;
  padding: 10px 0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar.open {
  left: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #fff; /* Dark pink */
  padding: 10px;
  display: block;
  border-radius: 0;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: lighten($color: #7a2fe2, $amount: 10); /* Medium pink */
}

.sidebar nav ul li a.active {
  background-color: #7a2fe2; /* Hot pink */
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main-content.sidebar-open {
  margin-left: 250px;
}