$primary-base-color: #7a2fe2;
$secondary-base-color: #5459AC;
$edit-btn-bgcolor:#feb05d;
$delete-btn-bgcolor:#DE1A58;
$white:#fff;
$black:#000;

/*Batch Status*/
$active-btn-color:#41A67E;
$inactive-btn-color:#E43636;