* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  background: #36454f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   .icon {
    margin-right: 10px;
    color: #7a2fe2;
  }

  .input-group-custom  {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    outline: none;
    &:focus{
      outline: none;
      box-shadow: none;
       background-color: #fff;
    }
  }

  .input-group-custom  input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 0;
     &:focus{
      outline: none;
      box-shadow: none;
      background-color: #fff;
    }
  }
}
.login-puchline{
  line-height: 42px;
}
.login-card {
  width: 900px;
  height: 480px;
  background: white;
  flex-direction: row-reverse;

  display: flex;
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
 
}

/* LEFT */
.login-left {
  width: 45%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.login-left h2 {
  margin-bottom: 30px;
}

/* SHOW/HIDE ICON */
.toggle {
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 18px;
}

.forgot {
  display: block;
  margin: 10px 0 30px;
  color: #7a2fe2;
  text-decoration: none;
}

.btn {
  width: 100%;
  background: #7a2fe2;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #6924cc;
}

.signup {
  margin-top: 25px;
  font-size: 14px;
}

.signup a {
  color: #7a2fe2;
}

/* RIGHT */
.login-right {
  width: 55%;
  background: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c') center/cover
    no-repeat;
  position: relative;
}

.login-right::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(122, 47, 226, 0.85);
}

.overlay {
  position: relative;
  z-index: 1;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
