/* You can add global styles to this file, and also import other style files */
@use './app/scss/variables' as *;
@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #FCF9EA;
}
body,
p,
* {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.mainTable {
  .btn-warning {
    background: $edit-btn-bgcolor;
    color: $white;
  }
  .btn-danger{
    background: $delete-btn-bgcolor;
  }
  th,
  td {
    font-family: 'Google Sans', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle
  }
  td {
    font-size: 14px;
  }
  .table-headbg {
    th {
      background: $secondary-base-color;
      color: $white;
    }
  }
}
.master-heading{
  font-size: 25px;
    margin: 0;
}
.form-label, .form-check-label{
  font-size: 15px;
  font-family: 'Google Sans', sans-serif;
  font-weight: 600;
  color: $black;
}
.form-control{
   font-size: 15px;
    font-weight: 400;
     font-family: 'Google Sans', sans-serif;
     border:none;
       border-bottom: 1px solid $border-color;
       border-radius: 0;
       padding: 0 0 0 0;
     &:focus{
      outline: none;
      border-bottom: 1px solid $primary-base-color;
      box-shadow: none;
     }
}
.btn-primary{
  background-color: $primary-base-color;
     font-size: 14px;
    font-weight: 400;
    font-family: 'Google Sans', sans-serif;
  &:hover{
  
    background-color: color.adjust($color: $primary-base-color, $lightness: -10%); //darken
  //background-color: color.adjust($color: $primary-base-color, $lightness: 20%); //lighten
  }
}
.btn-secondary{
   font-size: 14px;
    font-weight: 400;
        font-family: 'Google Sans', sans-serif;
}
